<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated behaviortree -->
      <package
            uri="https://robmosys.eu/behaviortree"
            class="behaviortree.BehaviorTreePackage"
            genModel="metamodel/behaviortree.genmodel"/>
   </extension>

</plugin>
